[[extend 'layout.html']]

[[block header]]
[[icon='fa fa-chart-line']]
[[breadcamp = 'Transport Maintenance']]
[[end]]

[[block content]]
<div class="container-section">
    <div class="d-flex justify-content-between align-items-center border-bottom">
        <span class="icon-text icon-text-bold">
            <i class="fa-solid fa-plus"></i>
            <span>Edit</span>
        </span>

        <div class="d-flex justify-content-end">
            <div class="p-1">
                <button type="button" class="btn btn-sm btn-light d-none" id="btn_view">
                    <i class="fa-regular fa-eye"></i> <span class="ms-2">View</span>
                </button>
                <button type="button" class="btn btn-sm btn-light" id="btn_edit">
                    <i class="fa-regular fa-pen-to-square"></i> <span class="ms-2">Edit</span>
                </button>
            </div>
            <div class="p-1">
                <a href="[[=URL('transport_maintenance/index')]]" class="btn btn-sm btn-light">
                    <i class="fa-solid fa-arrow-left"></i> <span class="ms-2">Back</span>
                </a>
            </div>
            <div class="p-1">
                <div class="btn-group">
                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Action
                    </button>
                    <!-- <ul class="dropdown-menu"> -->
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <!--<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="fas fa-add me-1"></i> Add</a>-->
                        <a class="dropdown-item" href="delete?id=[[=request.query.get('id')]]" id="delete_btn">
                            <i class="fa-solid fa-trash-can"></i><span class="ms-2">Delete</span></a>
                    </div>
                    <!-- </ul> -->
                </div>
            </div>
        </div>
    </div>
    <div class="container py-2">

        <form action="[[=URL('transport_maintenance','update')]]?id=[[=record.id]]" method="POST">

        <div id="custom_form">  
            <div class="row">                
                <div class="col-md-4">
                    <div class="mb-3">
                        <label for="trans_id" class="form-label">Transaction ID<span class="is_required">*</span></label>
                        <input type="text" id="trans_id" name="trans_id" value="[[=trans_id]]" class="form-control form-control-sm" readonly>
                    </div>
                </div>
                
                
                <div class="col-md-4">
                    <div class="mb-3 custom_input">
                        <label for="transaction_date" class="form-label">Transaction Date <span class="is_required">*</span></label>
                        <div class="flatpickr-wrapper">
                            <input type="text" class="date-picker" name="transaction_date" value="[[=record.trans_date]]" placeholder="Select Transaction Date">
                            <i class="fa fa-calendar calendar-icon text-secondary calendar-toggle"></i>                            
                        </div>
                    </div>
                </div>
                

                <div class="col-md-4">
                    <div class="mb-3 custom_input">
                        <label for="station" class="form-label">Station<span class="is_required">*</span></label>
                        <select class="form-select form-select-sm select_custom" name="station" style="width: 200px;" placeholder="Select Station">
                            <option value="">Select Station</option>
                            [[for station in stations:]]
                            <option value="[[=station.id]]||[[=station.station]]" [[if str(station.id)==str(record.station_id):]] selected[[pass]] >[[=station.station_code]] | [[=station.station]]</option>
                            [[pass]]
                        </select>
                    </div>
                </div>

                <div class="col-sm-12 col-md-8">
                    <div class="mb-3">
                        <div>
                            <table class="table table-bordered compact">
                                <thead>
                                    <tr class="text-center bg-light text-nowrap ">
                                        <th>SL</th>
                                        <th>Paper Name</th>
                                        <th >Departure Time</th>
                                        <th >Arrival Time</th>
                                        <th>Reason of Delay</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    [[sl=1]]
                                    [[for paper in paper_list:]]
                                    
                                    <tr>
                                        <th class="text-start bg-light text-center" style="width: 7%;">[[=sl]]</th>
                                        <th class="text-start " style="width: 33%;">[[=paper['paper_name']]]</th>
                                        <input type="hidden" name="paper_list" value="[[=paper['id']]]||[[=paper['paper_name']]]" class="form-control form-control-sm">
                                        <td style="width: 20%;" class="custom_input">                       
                                            <input type="time"  name="departure_time_[[=paper['id']]]" value="[[=paper['departure_time']]]" class="form-control form-control-sm">
                                        </td>
                                        <td style="width: 20%;" class="custom_input">                       
                                            <input type="time"  name="arrive_time_[[=paper['id']]]" value="[[=paper['arrive_time']]]" class="form-control form-control-sm">
                                        </td>
                                        <td style="width: 20%;" class="custom_input">                       
                                            <select class="form-select form-select-sm select_custom" name="reason_of_delay_[[=paper['id']]]" style="width: 200px;" placeholder="Select Reason of Delay">
                                                <option value="">Select Reason of Delay</option>
                                                [[for reason in reason_list:]]
                                                <option value="[[=reason.reason_name]]" [[if str(reason.reason_name)== str(paper["reason_of_delay"]):]] selected [[pass]]>[[=reason.reason_name]]</option>
                                                [[pass]]
                                            </select>
                                        </td>
                                    </tr>
                                    [[sl+=1]]
                                    [[pass]]
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>                    
                </div>

            
            </div>
            <div class="row d-none" id="edit_view_section">
                <div class="col-12">
                    <div class="d-flex justify-content-start">
                        <div class="me-2">
                            <button type="submit" class="btn btn-sm btn-primary">
                                <i class="fa-regular fa-floppy-disk"></i> <span class="ms-2">Update</span>
                            </button>
                        </div>
                        <div class="">
                            <button type="reset" class="btn btn-sm btn-light">
                                <i class="fa-solid fa-retweet"></i> <span class="ms-2">Reset</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>

</div>
[[end]]
[[block scripts]]

<script>
   
</script>
[[end]]