[[extend 'layout.html']]

[[block header]]
[[icon='fa fa-chart-line']]
[[breadcamp = 'Vehicle Route']]
[[end]]

[[block content]]
<div class="container-section">
    <div class="d-flex justify-content-between align-items-center border-bottom">
        <span class="icon-text icon-text-bold">
            <i class="fa-solid fa-plus"></i>
            <span>Edit</span>
        </span>

        <div class="d-flex justify-content-end">
            <div class="p-1">
                <button type="button" class="btn btn-sm btn-light d-none" id="btn_view">
                    <i class="fa-regular fa-eye"></i> <span class="ms-2">View</span>
                </button>
                <button type="button" class="btn btn-sm btn-light" id="btn_edit">
                    <i class="fa-regular fa-pen-to-square"></i> <span class="ms-2">Edit</span>
                </button>
            </div>
            <div class="p-1">
                <a href="[[=URL('vehicle_route/index')]]" class="btn btn-sm btn-light">
                    <i class="fa-solid fa-arrow-left"></i> <span class="ms-2">Back</span>
                </a>
            </div>
            <div class="p-1">
                <div class="btn-group">
                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Action
                    </button>
                    <!-- <ul class="dropdown-menu"> -->
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <!--<a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="fas fa-add me-1"></i> Add</a>-->
                        <a class="dropdown-item" href="delete?id=[[=request.query.get('id')]]" id="delete_btn">
                            <i class="fa-solid fa-trash-can"></i><span class="ms-2">Delete</span></a>
                    </div>
                    <!-- </ul> -->
                </div>
            </div>
        </div>
    </div>
    <div class="container py-2">

        <form action="[[=URL('vehicle_route','update')]]?id=[[=record.id]]" method="POST">

        <div id="custom_form">  
            <div class="row">                
                <div class="col-md-4">
                    <div class="mb-3 custom_input">
                        <label for="vehicle_name" class="form-label">Vehicle<span class="is_required">*</span></label>
                        <select class="form-select form-select-sm select_custom" name="vehicle_name" style="width: 200px;" placeholder="Select Vehicle">
                            <option value="">Select Vehicle</option>
                            [[for vehicle in vehicles:]]
                                <option value="[[=vehicle.id]]||[[=vehicle.vehicle_name]]" [[if str(record.vehicle_id)==str(vehicle.id):]] selected [[pass]]>[[=vehicle.vehicle_code]] | [[=vehicle.vehicle_name]]</option>
                            [[pass]]

                        </select>
                    </div>
                </div>
                
                
                <div class="col-md-4">
                    <div class="mb-3 custom_input">
                        <label for="driver_name" class="form-label">Driver Name <span class="is_required">*</span></label>
                        <input type="text" id="driver_name" name="driver_name" value="[[=record.driver_name]]" class="form-control form-control-sm">
                    </div>
                </div> 

                <div class="col-md-4">
                    <div class="mb-3 custom_input">
                        <label for="license_no" class="form-label">License No. <span class="is_required">*</span></label>                        
                            <input type="text" id="license_no" name="license_no" value="[[=record.license_no]]" class="form-control form-control-sm ">                        
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="mb-3 custom_input">
                        <label for="route_name" class="form-label">Route<span class="is_required">*</span></label>
                        <select class="form-select form-select-sm select_custom" name="route_name" style="width: 200px;" placeholder="Select Route">
                            <option value="">Select Route</option>
                            [[for route in routes:]]
                                <option value="[[=route.id]]||[[=route.route_name]]" [[if str(record.route_id)==str(route.id):]] selected [[pass]]>[[=route.route_code]] | [[=route.route_name]]</option>
                            [[pass]]

                        </select>
                    </div>
                </div> 

                <div class="col-md-4">
                    <div class="mb-3 custom_input">
                        <label for="sub_route" class="form-label">Sub Route<span class="is_required">*</span></label>
                        <select class="form-select form-select-sm select_custom" name="sub_route" style="width: 200px;" placeholder="Select Sub Route">
                            <option value="">Select Sub Route</option>
                            [[for sub_route in sub_routes:]]
                                <option value="[[=sub_route.id]]||[[=sub_route.sub_route_name]]" [[if str(record.sub_route_id)==str(sub_route.id):]] selected [[pass]]>[[=sub_route.sub_route_code]] | [[=sub_route.sub_route_name]]</option>
                            [[pass]]

                        </select>
                    </div>
                </div>    

                <div class="col-md-4">
                    <div class="mb-3 ">
                        <label for="status" class="form-label">Status</label>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="1" id="status" name="status" disabled
                            [[if record.status==1:]] checked [[pass]]>
                            <label class="form-check-label" for="status">
                              Active
                            </label>
                        </div>
                    </div>
                    
                </div>
              
            </div>
            <div class="row d-none" id="edit_view_section">
                <div class="col-12">
                    <div class="d-flex justify-content-start">
                        <div class="me-2">
                            <button type="submit" class="btn btn-sm btn-primary">
                                <i class="fa-regular fa-floppy-disk"></i> <span class="ms-2">Update</span>
                            </button>
                        </div>
                        <div class="">
                            <button type="reset" class="btn btn-sm btn-light">
                                <i class="fa-solid fa-retweet"></i> <span class="ms-2">Reset</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>

</div>
[[end]]
[[block scripts]]

<script>
   
</script>
[[end]]