[[
if len(request.path.split('/'))>2:
_controller_name = request.path.split('/')[2]
else:
_controller_name = ''
pass
]]

<aside id="sidebar" class="sidebar break-point-sm has-bg-image">
  <a id="btn-collapse" class="sidebar-collapser"><i class="fa-solid fa-angle-left"></i></a>
  <div class="image-wrapper">
    <img src="#" alt="sidebar background" />
  </div>

  <div class="sidebar-layout">

    <div class="sidebar-header">
      <a href="[[=URL('dashboard','index')]]" style="color: inherit;">
        <div class="pro-sidebar-logo" style="padding-top: 5px;">
          <div style="background-color:inherit; padding-bottom: 5px;">
            <img src="[[=URL('static','task_planning.png')]]" height="25" alt="circulation logo">
          </div>
          <h5 class="fw-bold">Task Management</h5>
        </div>
      </a>
    </div>

    <div class="sidebar-content">
      <nav class="menu open-current-submenu">
        <ul>

          <li class="menu-header">
            <span>Navigation</span>
          </li>

          <li class="menu-item [[if _controller_name=='dashboard':]]active_link[[pass]]">
            <a href="[[=URL('dashboard','index')]]">
              <span class="menu-icon"><i class="fa-solid fa-gauge-high"></i></span>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>

          <li class="menu-header">
            <span>Task Planning</span>
          </li>

          <li class="menu-item sub-menu [[if _controller_name in ['project','module','tasks']:]]open[[pass]]">
            <a href="#">
              <span class="menu-icon"><i class="fa-solid fa-diagram-project"></i></span>
              <span class="menu-title">Projects & Tasks</span>
            </a>
            <div class="sub-menu-list">
              <ul>
                <li class="menu-item [[if _controller_name=='project':]]active_link[[pass]]">
                  <a href="[[=URL('project/index')]]">
                    <span class="menu-icon"><i class="fa-solid fa-folder-tree"></i></span>
                    <span class="menu-title">Projects</span>
                  </a>
                </li>
                <li class="menu-item [[if _controller_name=='module':]]active_link[[pass]]">
                  <a href="[[=URL('module/index')]]">
                    <span class="menu-icon"><i class="fa-solid fa-layer-group"></i></span>
                    <span class="menu-title">Modules</span>
                  </a>
                </li>
                <li class="menu-item [[if _controller_name=='tasks':]]active_link[[pass]]">
                  <a href="[[=URL('tasks/index')]]">
                    <span class="menu-icon"><i class="fa-solid fa-list-check"></i></span>
                    <span class="menu-title">Tasks</span>
                  </a>
                </li>
                <li class="menu-item [[if _controller_name=='task_subtask':]]active_link[[pass]]">
                  <a href="[[=URL('task_subtask/index')]]">
                    <span class="menu-icon"><i class="fa-solid fa-list-ul"></i></span>
                    <span class="menu-title">Subtasks</span>
                  </a>
                </li>
                <li class="menu-item [[if _controller_name=='task_assignee':]]active_link[[pass]]">
                  <a href="[[=URL('task_assignee/index')]]">
                    <span class="menu-icon"><i class="fa-solid fa-user-check"></i></span>
                    <span class="menu-title">Assignees</span>
                  </a>
                </li>
                <li class="menu-item [[if _controller_name=='task_comment':]]active_link[[pass]]">
                  <a href="[[=URL('task_comment/index')]]">
                    <span class="menu-icon"><i class="fa-regular fa-comments"></i></span>
                    <span class="menu-title">Comments</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>

          <li class="menu-item sub-menu [[if _controller_name in ['work_log']:]]open[[pass]]">
            <a href="#">
              <span class="menu-icon"><i class="fa-regular fa-clock"></i></span>
              <span class="menu-title">Time Tracking</span>
            </a>
            <div class="sub-menu-list">
              <ul>
                <li class="menu-item [[if _controller_name=='work_log':]]active_link[[pass]]">
                  <a href="[[=URL('work_log/index')]]">
                    <span class="menu-icon"><i class="fa-solid fa-stopwatch"></i></span>
                    <span class="menu-title">Work Logs</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>

          <li class="menu-header">
            <span>People</span>
          </li>

          <li class="menu-item sub-menu [[if _controller_name in ['user','role','user_role']:]]open[[pass]]">
            <a href="#">
              <span class="menu-icon"><i class="fa-solid fa-users-gear"></i></span>
              <span class="menu-title">Users & Roles</span>
            </a>
            <div class="sub-menu-list">
              <ul>
                <li class="menu-item [[if _controller_name=='user':]]active_link[[pass]]">
                  <a href="[[=URL('user/index')]]">
                    <span class="menu-icon"><i class="fa-solid fa-user"></i></span>
                    <span class="menu-title">Users</span>
                  </a>
                </li>
                <li class="menu-item [[if _controller_name=='role':]]active_link[[pass]]">
                  <a href="[[=URL('role/index')]]">
                    <span class="menu-icon"><i class="fa-solid fa-shield-halved"></i></span>
                    <span class="menu-title">Roles</span>
                  </a>
                </li>
                <li class="menu-item [[if _controller_name=='user_role':]]active_link[[pass]]">
                  <a href="[[=URL('user_role/index')]]">
                    <span class="menu-icon"><i class="fa-solid fa-link"></i></span>
                    <span class="menu-title">User Roles</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>

        </ul>
      </nav>
    </div>

    <div class="sidebar-footer d-flex justify-content-between">
      <a href="#">
        <i class="fa fa-bell"></i>
      </a>
      <a href="#">
        <i class="fa fa-envelope"></i>
      </a>
      <a href="#">
        <i class="fa fa-cog"></i>
      </a>
      <a href="[[=URL('logout')]]">
        <i class="fa fa-power-off"></i>
      </a>
    </div>

  </div>
</aside>
